
        <div class="row">

            <div class="col-lg-8 content-card">
                <h1><span class="glyphicon glyphicon glyphicon-stats" aria-hidden="true"></span> TOP ARTICLES</h1>
                <article class="homepage-article">
                    <h2>Medical device firm hiring after tax</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cum eos obcaecati sit, debitis voluptate soluta dolorem aut, perspiciatis vel, officia rem provident. Quis voluptatum, dignissimos omnis dolorum doloremque delectus!</p>
                </article>
            </div>

            <div class="col-md-4">
                <div class="content-card">
                    <h1><span class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span> REFINE BY</h1>
                </div>
            </div>
            
        </div>
        <!-- /.row -->



  